/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set background color for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2.5em;
}

/* Style sections */
section {
    background-color:#ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.box-4{
    background-color:#555;
    color: #fff;
}
.box-4 h2{
    text-indent: 20px;
}
.box-4 li{
    text-indent: 60px;
}
section h2{
    color:#fff;
    font-size: 1.8em;
    margin-bottom: 10px;}

    li{
        color: #fff;
    }

main section{
        background-color:#fff ;
        color: #333;
 }
 main h2{
    color: #333;
    text-align: center;
 }
section p {
    font-size: 1.2em;
    line-height: 1.6;
}

/* Style the table */
table {
    width:100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td{
    padding: 0px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

ul{
    list-style: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.box-3 {
    color:#333;
    background-color:#fff;
}
.box-3 h2{
    color: #333;
}
.box-5 h2{
    color: #333;
}
form{
    margin-top: 20px;
}
form label{
    display: block;
    font-weight: bold;
}
section img {
    max-width: 100%;
    height: 200px;
    border-radius: 5px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}
form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
form input[type="submit"]{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #555;  
}
form input[type="submit"]:hover {
    background-color: red;
}
/* Style the footer */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}